.dropdown {
  position: relative;
  display: inline-block;
}

.selected-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}

.dropdown-option {
  cursor: pointer;
  padding: 10px;
}

.dropdown-option:hover {
  background-color: #f5f5f5;
}
